#!/bin/sh

set -x

echo "START POST INSTALL"

apt-get install -y ansible-core git curl

BOOTSTRAP_REPO="{{ repo }}"
BOOTSTRAP_BRANCH="{{ branch }}"
STAGING_DIR=$(mktemp -d)

git clone "$BOOTSTRAP_REPO" "$STAGING_DIR"

cd "${STAGING_DIR}/bootstrap"

git checkout "$BOOTSTRAP_BRANCH"

mkdir -vp /dev/shm

ansible-playbook -vv -c local site.yml || \
    printf 'ERROR: Ansible run failed with status code %s\n' "$?"

rmdir -v /dev/shm

echo "END POST INSTALL"
