#_preseed_V1
d-i debian-installer/interactive boolean true
d-i debian-installer/framebuffer boolean false
d-i debian-installer/language string en
d-i debian-installer/country string CH
d-i debian-installer/locale string en_GB.UTF-8

d-i keyboard-configuration/xkb-keymap select ch

d-i netcfg/choose_interface select auto
d-i netcfg/get_hostname string {{ hostname }}
d-i netcfg/get_domain string {{ domain }}
d-i netcfg/wireless_wep string

d-i hw-detect/load_firmware boolean true

d-i mirror/country string manual
d-i mirror/http/hostname string {{ mirror }}
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

d-i passwd/make-user boolean false
d-i passwd/root-password-crypted password {{ password }}

d-i clock-setup/utc boolean true
d-i time/zone string {{ timezone }}
d-i clock-setup/ntp boolean true

d-i partman-auto/disk string {{ boot_device }}
d-i partman-auto/method string lvm
d-i partman-auto-lvm/guided_size string max
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto/choose_recipe select multi
d-i partman-md/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-efi/non_efi_system boolean true
d-i partman-partitioning/choose_label select gpt
d-i partman-partitioning/default_label string gpt
d-i partman-md/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

d-i apt-setup/cdrom/set-first boolean false
#d-i apt-setup/disable-cdrom-entries boolean true
d-i apt-setup/non-free-firmware boolean {{ nonfree_firmware }}

tasksel tasksel/first multiselect standard, ssh-server

d-i pkgsel/upgrade select safe-upgrade
d-i pkgsel/include string resolvconf git curl ansible-core

popularity-contest popularity-contest/participate boolean true

d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string {{ boot_device }}

d-i debian-installer/add-kernel-opts string quiet audit=1

d-i finish-install/reboot_in_progress note

### Description: for internal use; can be preseeded
#   Shell command or commands to run in the d-i environment as late as possible
# d-i preseed/late_command string <string>
d-i preseed/late_command string \
    mkdir -p /target/tmp; \
    cp /cdrom/post-install.sh /target/tmp/post-install.sh; \
    chmod 0500 /target/tmp/post-install.sh; \
    in-target /bin/sh /tmp/post-install.sh
