[TailscaleWireguard]
title=Software-defined mesh virtual private network (VPN)
description=The open-source software acts in combination with the management service to establish peer-to-peer or relayed VPN communication with other clients using the WireGuard protocol.
ports=41641/udp
