collections:
  - name: ansible.posix
    version: 2.0.0
  - name: community.crypto
    version: 2.24.0
  - name: community.general
    version: 10.3.0
  - name: devsec.hardening
    version: 10.2.0
  - name: kubernetes.core
    version: 5.1.0
