#!/bin/bash

exec journalctl -u ansible-pull.service --output=json --no-pager \
    | jq -r 'select(._COMM == "ansible-pull" or ._COMM == "systemd") | "[\(.__REALTIME_TIMESTAMP | tonumber / 1000000 | todateiso8601)] [\(._COMM)] \(.MESSAGE)"' \
    | less
