---
collections:
  ansible.posix:
    version: 2.0.0
  community.crypto:
    version: 2.24.0
  community.general:
    version: 10.3.0
  devsec.hardening:
    version: 10.2.0
  kubernetes.core:
    version: 5.1.0
