[Unit]
Description=Ansible Pull Mode
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User={{ nausicaea.common.ansible_user }}
Group={{ nausicaea.common.ansible_group }}
EnvironmentFile=-/etc/default/ansible-pull
ExecStart=/usr/bin/ansible-pull \
    -U "{{ nausicaea.common.repo }}" \
    -C "$BOOTSTRAP_BRANCH" \
    --clean \
    -d "{{ nausicaea.common.checkout_dir }}" \
    -c local \
    -i bootstrap/inventory.yml \
    --vault-password-file "{{ nausicaea.common.ansible_vault_password_file }}" \
    bootstrap/playbook.yml

[Install]
WantedBy=multi-user.target

# vim: set ft=systemd:
