[Unit]
Description=Ansible Pull Mode
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User={{ nausicaea_common.ansible_user }}
Group={{ nausicaea_common.ansible_group }}
ExecStart=/usr/bin/ansible-pull \
    -U "{{ nausicaea_common.repo }}" \
    -C "{{ nausicaea_common.branch }}" \
    --clean \
    --verify-commit \
    -d "{{ nausicaea_common.checkout_dir }}" \
    -c local \
    -i bootstrap/inventory.yml \
    --vault-password-file "{{ nausicaea_common.ansible_vault_password_file }}" \
    bootstrap/playbook.yml

[Install]
WantedBy=multi-user.target
