collections:
  - name: ansible.posix
    version: 1.6.1
  - name: community.crypto
    version: 2.24.0
  - name: community.general
    version: 9.5.5
  - name: devsec.hardening
    version: 10.2.0
  - name: kubernetes.core
    version: 4.0.0
