[Unit]
Description=Ansible Pull Mode
After=network.target

[Service]
Type=oneshot
User={{ nausicaea_bootstrap.ansible_user }}
Group={{ nausicaea_bootstrap.ansible_group }}
ExecStart=/usr/bin/ansible-pull -U "{{ nausicaea_bootstrap.repo }}" -C "{{ nausicaea_bootstrap.branch }}" --clean \
    -d "{{ nausicaea_bootstrap.checkout_dir }}" \
    -c local -i bootstrap/inventory.yml bootstrap/playbook.yml

[Install]
WantedBy=multi-user.target
