[Unit]
Description=Ansible Pull Mode
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User={{ nausicaea.common.ansible_user }}
Group={{ nausicaea.common.ansible_group }}
EnvironmentFile=-/etc/default/ansible-pull
ExecStart=/usr/bin/ansible-pull \
    --url="{{ nausicaea.common.repo }}" \
    --checkout="$BOOTSTRAP_BRANCH" \
    --directory="{{ nausicaea.common.checkout_dir }}" \
    --inventory="bootstrap/inventory.yml" \
    --connection="local" \
    --vault-password-file="{{ nausicaea.common.ansible_vault_password_file }}" \
    --clean \
    --verify-commit \
    "bootstrap/playbook.yml"

[Install]
WantedBy=multi-user.target

# vim: set ft=systemd:
